<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798359208302-7dob99s0spd7jh9hmhsfurngermu2ffs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798359208302-7dob99s0spd7jh9hmhsfurngermu2ffs</string>
	<key>API_KEY</key>
	<string>AIzaSyA_yTtWcalKuJkpz_rN30Y5pfl89ogFIWs</string>
	<key>GCM_SENDER_ID</key>
	<string>798359208302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirkobraic.RAWGExplorer</string>
	<key>PROJECT_ID</key>
	<string>rawgexplorer</string>
	<key>STORAGE_BUCKET</key>
	<string>rawgexplorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798359208302:ios:1cefca119e8f76119c817f</string>
</dict>
</plist>